{% extends 'movie_app/base.html' %}


{% block title %} Все фильмы {% endblock %}


{% block content %}
    <h2>Список всех фильмов</h2>
    <ul>
        {% for movie in movies %}
            <li><a href=" {{ movie.get_url }}">{{movie.name}}</a> ,
                рейтинг - {{movie.rating}} ,
                год - {{movie.year|default:'Неизвестно'}},
            бюджет - {{movie.salary}}</li>
        {% endfor %}
    </ul>
    <h3>Количество всех фильмов -{{agg.name__count}} </h3>
    <h3>Сумма всего бюджета -{{agg.salary__sum}} </h3>
    <h3>Средний бюджет - {{agg.salary__avg}} </h3>
    <h3>Максимальный рейтинг - {{agg.rating__max}} </h3>
    <h3>Минимальный рейтинг - {{agg.rating__min}} </h3>
    <h3>Количество фильмов - {{total}} </h3>
    <h2>фильтр - {{filtred_movie}} </h2>

{% endblock %}